/* Подключение шрифтов из папки fonts*/
@font-face {
  font-family: TTLakes-Medium;
  src: url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: TTLakes-Bold;
  src: url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: TTLakes-Regular;
  src: url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-display: block;
}

body {
  margin: 0;
  font-family: "TTLakes-Medium";
  font-weight: 500;
  background-color: #f8f8f8;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #ffffff;

  height: 88px;
}

.left-side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 8px;
}

.right-side {
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 8px;
}

.right-side__left-buttons {
  display: none;
  padding-right: 26px;
}

.logo {
  vertical-align: middle;
}

.button {
  background-color: #ff3e79;

  border: none;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  color: #ff3e79;
  text-align: center;
  text-decoration: none;

  margin: 24px 8px;

  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.2);
}

/* Все изображения для кнопок */
.menu-button::before {
  content: url("../img/menu.svg");
  padding-top: 5px;
}

.call-button::before {
  content: url("../img/call.svg");
  padding-top: 5px;
}

.message-button::before {
  content: url("../img/message.svg");
  padding-top: 5px;
}

.profile-button::before {
  content: url("../img/profile.svg");
  padding-top: 5px;
}

.application-button::before {
  content: url("../img/application.svg");
  padding-top: 5px;
}

.status-button::before {
  content: url("../img/status.svg");
  padding-top: 5px;
}

.right-side__right-buttons {
  display: flex;
  text-align: center;
  align-items: center;
}

.separation-left::before {
  content: "";
  position: absolute;
  height: 32px;
  border: 1px solid #eaeaea;
  top: 30px;
  right: 133px;
}

.main {
  padding: 24px 16px;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.title__text {
  font-size: 28px;
  font-family: "TTLakes-Bold";
  line-height: 40px;
  letter-spacing: 0.6px;
}

/* Псевдоэлемент для заголовка*/
.title__text::before {
  content: "";
  position: absolute;
  left: -17px;
  border: 4px solid #41f6d7;
  height: 40px;

  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.title__buttons {
  display: none;
}

.nav {
  display: block;
}

.nav__list {
  display: flex;
  justify-content: flex-start;

  overflow: hidden;
  overflow-x: scroll;

  list-style-type: none;
  margin: 8px 0px;
  padding-left: 0;
  white-space: nowrap;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Убираем скролл-бар */
.nav__list::-webkit-scrollbar {
  display: none;
}

.nav__list::after {
  content: "";
  position: absolute;

  width: 2em;
  height: 44px;
  background-image: linear-gradient(to right, transparent, #f8f8f8);

  right: 15px;
}

.nav__button {
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.radio {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

label {
  display: block;
  cursor: pointer;
}

.nav__button:hover {
  border: 2px solid #e4e4e4;
  border-radius: 5px;
}

/* Все махинации с радио) */
#devices:checked ~ .nav__list li label[for="devices"],
#brands:checked ~ .nav__list li label[for="brands"],
#prices:checked ~ .nav__list li label[for="prices"],
#addresses:checked ~ .nav__list li label[for="addresses"],
#special:checked ~ .nav__list li label[for="special"],
#feedback:checked ~ .nav__list li label[for="feedback"] {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__text {
  font-family: "TTLakes-Regular";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.content__read-more {
  display: flex;
  margin-bottom: 16px;
  margin-left: 12px;
}

.read-more {
  position: relative;
  margin: 0 16px;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
}

.read-more::before {
  content: url("../img/icon-readmore.svg");
  position: absolute;
  text-align: center;
  width: 7.41px;
  height: 10.29px;
  left: -16.29px;
}

.container__image {
  display: flex;
  justify-content: center;
}

.container__image img {
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* Медиа запрос для разрешения больше 768px */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .content {
    width: 50%;
  }

  .container__image {
    width: 45%;
  }

  .right-side__left-buttons {
    display: flex;
  }

  .separation-right::before {
    content: "";
    position: absolute;
    height: 32px;
    border: 1px solid #eaeaea;
    top: 30px;
    left: 78px;
  }

  .logo {
    padding-left: 32px;
  }

  /* Добавляем текст в контентную часть*/
  .content__text p::after {
    content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера";
  }
}

/* Медиа запрос для разрешения больше 1120px */
@media (min-width: 1120px) {
  /* Убираем шапку */
  .header {
    display: none;
  }

  .main {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 8px;
    display: block;
  }

  .title {
    justify-content: space-between;
  }

  .title__text::before {
    left: -22px;
  }

  .title__buttons {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
  }

  .application {
    display: flex;
    align-items: center;
    padding-right: 32px;
  }

  .status {
    display: flex;
    align-items: center;
  }

  .nav__list {
    flex-wrap: wrap;
  }

  /* Добавляем текст в контентную часть*/
  .content__text p::after {
    content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
  }
}

@media (max-width: 319px) {
  .separation-left::before {
    display: none;
  }
}
